* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: blue;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    // background-image: url("https://cdn.dribbble.com/users/2277649/screenshots/8498294/weather_dribbble_size.gif.gif");
}

.body {
    background-image: url("https://cdn.dribbble.com/users/2277649/screenshots/8498294/weather_dribbble_size.gif.gif");
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-color: rgb(0, 0, 130);
    height: 100vh;
    padding: 5em;
}